
<template>
    <div style="background-color: #1F9BCE;">
        <div class="position-relative">
            <img v-if="!isMobile" src="@/assets/img_assets/header1.png" class="w-100" style="max-height:100vh;object-fit:cover;object-position: top;" />
            <img v-else src="@/assets/img_assets/header1.png" class="w-100" style="object-fit:cover;object-position: top;height: 50vh;" />
            <div class="position-absolute w-100 h-100" style="background:rgba(82, 193, 255, 0.35);top:0"></div>
            <Navbar />
        </div>

        <div class="container-lg px-3 py-3 position-relative">
            <div class="position-absolute text-end" style="top:20px;right:20px;color:#FFAD32" >
                <h3 :class="`${isMobile ? 'h1 fw-bolder' : 'h1'} fw-bolder mb-0`">mongrela.org</h3>
                <h3 :class="`${isMobile ? 'h6 fw-bolder' : 'h3'} mb-0`">Pet Goes Social</h3>
            </div>
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <img src="@/assets/img_assets/white-logo.png" class="w-100" :style="`max-width: ${isMobile ? '200px;margin-top:5em' : '300px'};`" />
                <div class="" style="max-width: 700px;">
                    <h3 class="fw-bolder mb-2 text-white h2">We Are Mongrela</h3>
                    <p class="mb-0 text-white" style="line-height: 1.5em;"> 
                        We are the pet super apps platform created for pet lovers. Whether you own a pet, love to extend your service for pets and owner or simply you have a big heart that want to help volunteer with pet and community shelters. We are collectively curated all services in our platform for you. 
                    </p>
                </div>
            </div>

            <div class="mt-4">
                <Feature :isMobile="isMobile" />
            </div>
        </div>
        <div :class="`mt-5 ${isMobile ? '' : 'container-lg px-3 py-3'}`">
            <Services :isMobile="isMobile" />
        </div>
        <div class="mt-5">
            <Promotions :isMobile="isMobile" />
        </div>
        <div class="mt-5">
            <Gallery :isMobile="isMobile" />
        </div>

        <div class="container-lg px-3 py-3 position-relative">
            <div class="mt-4">
                <Apps :isMobile="isMobile" />
            </div>
        </div>
        
        <div class="mt-5">
            <Footer :isMobile="isMobile" />
        </div>
    </div>
</template>

<script>
import Navbar from './components/navbar.vue'
import Feature from './components/feature.vue'
import Services from './components/services.vue'
import Promotions from './components/promotions.vue'
import Gallery from './components/gallery.vue'
import Apps from './components/apps.vue'
import Footer from './components/footer.vue'

export default {
    components: {
        Navbar, Feature, Services,Promotions,Gallery, Apps,Footer
    },
    computed: {
        
    },
    mounted(){
        this.screenWidth = window.screen.width
        if(this.screenWidth < 768){
            this.isMobile = true
        }
    },
    data(){
        return {
            screenWidth : 0,
            isMobile: false, 
        }
    }
}
</script>
