<template>
    <div>
        <nav>
            <div class="nav nav-tabs d-flex flex-nowrap" id="nav-tab" role="tablist" style="border:unset">
                <button style="background-color: #205D83;border:unset;border-radius: 30px 0 0 0px;" 
                    :class="`nav-link active flex-fill text-white fw-bolder p-3 ${!isMobile ? 'h2' : 'h5'}`" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">We <br v-if="isMobile"/> Believed</button>
                <button style="background-color: #005071;border:unset;border-radius: 0 0 0 0;" 
                    :class="`nav-link flex-fill text-white fw-bolder p-3 ${!isMobile ? 'h2' : 'h5'}`" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">We <br v-if="isMobile"/> Valued</button>
                <button style="background-color: #58390B;border:unset;border-radius: 0 30px 0px 0;" 
                    :class="`nav-link flex-fill text-white fw-bolder p-3 ${!isMobile ? 'h2' : 'h5'}`" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">We <br v-if="isMobile"/> Do</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active p-3" style="background-color: #205D83;" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row align-items-center">
                    <div :class="`col-lg-6 ${!isMobile ? 'px-5' : 'px-3 pt-5'}`">
                        <h3 class="fw-bolder mb-2 text-white h2">We Believed</h3>
                        <p class="mb-0 text-white" style="line-height: 1.5em;"> 
                            We are the pet super apps platform created for pet lovers. Whether you own a pet, love to extend your service for pets and owner or simply you have a big heart that want to help volunteer with pet and community shelters. We are collectively curated all services in our platform for you. 
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="@/assets/img_assets/dog&cat.png" class="w-100" />
                    </div>
                </div>
            </div>
            <div class="tab-pane fade p-3" style="background-color: #005071;" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row align-items-center">
                    <div :class="`col-lg-6 ${!isMobile ? 'px-5' : 'px-3 pt-5'}`">
                        <h3 class="fw-bolder mb-2 text-white h2">We Valued</h3>
                        <p class="mb-0 text-white" style="line-height: 1.5em;"> 
                            They were no longer judged by their situation but embraced with understanding. Shelters became safe havens, education spread, and love replaced prejudice. Every life mattered, reflecting our empathy and shared belief in the value of all creatures.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="@/assets/img_assets/cat 1.png" class="w-100" />
                    </div>
                </div>
            </div>
            <div class="tab-pane fade p-3" style="background-color: #58390B;" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row align-items-center">
                    <div :class="`col-lg-6 ${!isMobile ? 'px-5' : 'px-3 pt-5'}`">
                        <h3 class="fw-bolder mb-2 text-white h2">We Do</h3>
                        <p class="mb-0 text-white" style="line-height: 1.5em;"> 
                            In our caring world, we prioritize the well-being of stray cats and dogs. We ensure they receive proper healthcare and attention. Their health and happiness are of utmost importance to us.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="@/assets/img_assets/dog 1.png" class="w-100" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: {
        isMobile : {
            type: Boolean,
            default: false
        }
    }
}

</script>