<template>
    <div :style="`overflow: hidden;${isMobile ? '' : 'margin-top:9em'}`">
        <div class="row" style="gap:20px 0">
            <div class="col-lg px-0 position-relative d-flex align-items-center" :style="`${isMobile ? 'height:400px' : ''}`">
                <img src="@/assets/img_assets/doggie-09 4.png" class="w-100 position-absolute" 
                    :style="`top:${isMobile? '0%' : '20%'};max-width:${isMobile ? '90%' : '50%'}`"
                />
                <div class="container-lg px-4 py-3 px-5" style="z-index: 999;">
                    <h2 class="fw-bolder text-white h1">We Care About Animals</h2> 
                    <p class="text-white mt-2 fw-bold" style="line-height: 1.5em;max-width:700px">
                        All of services via Mongrela platform we pledged 10% of each transaction to donate to the shelters and pets who needs help. Our Mongrela member is our family and any services via Mongrela will be discounted to you at 5% & much more. Thank you for being part of Mongrela.org.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <img src="@/assets/img_assets/img1.png" class="w-100" />
            </div>
        </div>
        <div class="row" style="gap:20px 0" v-if="!isMobile">
            <div class="col-lg-6 px-0">
                <img src="@/assets/img_assets/img2.png" class="w-100" />
            </div>
            <div class="col-lg px-0 position-relative d-flex align-items-center">
                <img src="@/assets/img_assets/doggie-09 7.png" v-if="!isMobile" class="w-100 position-absolute" 
                    :style="`top:${isMobile? '0' : '30%'};max-width:50%;right:0`"
                />
                <div class="container-lg px-4 py-3 px-5" style="z-index: 999;">
                    <h2 class="fw-bolder text-white h1">We Adopt Not Shop</h2> 
                    <p class="text-white mt-2 fw-bold" style="line-height: 1.5em;max-width:700px">
                        Mongrela always believed in adopt dont shop, giving the
                        proper living and loving spaces for our rescued dogs
                        with the affiliated partners we also purposely matching
                        the right family with the right rescue dogs
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="gap:20px 0" v-else>
            <div class="col-lg px-0 position-relative d-flex align-items-center" :style="`${isMobile ? 'height:400px' : ''}`">
                <img src="@/assets/img_assets/doggie-09 7.png" class="w-100 position-absolute" 
                    :style="`top:${isMobile? '0' : '30%'};max-width:${isMobile ? '80%' : '50%'};right:0`"
                />
                <div class="container-lg px-4 py-3 px-5" style="z-index: 999;">
                    <h2 class="fw-bolder text-white h1">We Adopt Not Shop</h2> 
                    <p class="text-white mt-2 fw-bold" style="line-height: 1.5em;max-width:700px">
                        Mongrela always believed in adopt dont shop, giving the
                        proper living and loving spaces for our rescued dogs
                        with the affiliated partners we also purposely matching
                        the right family with the right rescue dogs
                    </p>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <img src="@/assets/img_assets/img2.png" class="w-100" />
            </div>
        </div>
        <div class="row" style="gap:20px 0">
            <div class="col-lg px-0 position-relative d-flex align-items-center" :style="`${isMobile ? 'height:400px' : ''}`">
                <img src="@/assets/img_assets/doggie-09 4.png" class="w-100 position-absolute" 
                    :style="`top:${isMobile? '0' : '30%'};max-width:${isMobile ? '80%' : '70%'}`"
                />
                <div class="container-lg px-4 py-3 px-5" style="z-index: 999;">
                    <h2 class="fw-bolder text-white h1">We Love & Protect</h2> 
                    <p class="text-white mt-2 fw-bold" style="line-height: 1.5em;max-width:700px">
                        We guarantee all of our service to be the best care for your loved pets and rescue
                    </p>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <img src="@/assets/img_assets/img3.png" class="w-100" />
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: {
        isMobile: {
            type: Boolean,
            default: false
        }
    }
}

</script>