<template>
    <div :style="`overflow-x: hidden;${isMobile ? '' : 'margin-top:9em'}`">
        <div class="row align-items-center">
            <div class="col-lg">
                <h2 :class="`fw-bolder text-white h1 ${isMobile ? 'px-3' : ''}`">Our Services</h2>
                <div class="w-100 my-3" style="height: 3px;background: #FFAD32;">
                </div>
                <p :class="`text-white mt-2 fw-bold ${isMobile ? 'px-3' : ''}`" style="line-height: 1.5em;max-width:700px">
                    We guarantee all of our service to be the best care for your loved pets and rescue ranging from walker event to pet taxi
                </p>
            </div>
            <div class="col-lg-6" v-if="!isMobile">
                <img class="w-100" src="@/assets/img_assets/phoneUI.png" />
            </div>
        </div>

        <div :class="`mt-5 row align-items-center`" style="gap:20px 0" v-if="!isMobile">
            <div class="col-lg-4">
                <div class="p-3 h-100 px-4 text-white d-flex align-items-center" style="gap:10px 20px;background-color: #005071;border-radius: 20px;">
                    <img src="@/assets/img_assets/chat.png" class="h-100" :style="`${isMobile ? 'max-height:40px' : ''}`" />
                    <h2 class="mb-0 fw-bolder text-white h1">Chat</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-3 px-4 text-white d-flex align-items-center h-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px;">
                    <img src="@/assets/img_assets/hotel.png" class="h-100" :style="`${isMobile ? 'max-height:40px' : ''}`" />
                    <h2 class="mb-0 fw-bolder text-white h1">Hotel</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-3 px-4 text-white d-flex align-items-center h-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px;">
                    <img src="@/assets/img_assets/taxi.png" class="h-100" :style="`${isMobile ? 'max-height:40px' : ''}`" />
                    <h2 class="mb-0 fw-bolder text-white h1">Taxi</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-3 px-4 text-white d-flex align-items-center h-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px;">
                    <img src="@/assets/img_assets/walker.png" class="h-100" :style="`${isMobile ? 'max-height:40px' : ''}`" />
                    <h2 class="mb-0 fw-bolder text-white h1">Walkers</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-3 px-4 text-white d-flex align-items-center h-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px;">
                    <img src="@/assets/img_assets/shelter.png" class="h-100" :style="`${isMobile ? 'max-height:40px' : ''}`" />
                    <h2 class="mb-0 fw-bolder text-white h1">Shelter</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-3 px-4 text-white d-flex align-items-center h-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px;">
                    <img src="@/assets/img_assets/trainer.png" class="h-100" :style="`${isMobile ? 'max-height:40px' : ''}`" />
                    <h2 class="mb-0 fw-bolder text-white h1">Trainer</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-3 px-4 text-white d-flex align-items-center h-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px;">
                    <img src="@/assets/img_assets/groomer.png" class="h-100" :style="`${isMobile ? 'max-height:40px' : ''}`" />
                    <h2 class="mb-0 fw-bolder text-white h1">Groomer</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-3 px-4 text-white d-flex align-items-center h-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px;">
                    <img src="@/assets/img_assets/pet-shop.png" class="h-100" :style="`${isMobile ? 'max-height:40px' : ''}`" />
                    <h2 class="mb-0 fw-bolder text-white h1">Pet Shop</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-3 px-4 text-white d-flex align-items-center h-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px;">
                    <img src="@/assets/img_assets/vet.png" class="h-100" :style="`${isMobile ? 'max-height:40px' : ''}`" />
                    <h2 class="mb-0 fw-bolder text-white h1">Vet</h2>
                </div>
            </div>
        </div>

        <div v-else>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner px-3 mt-4 pt-4 pb-5">
                    <div class="carousel-item active"> 
                        <div class="d-flex flex-column align-items-center" style="gap:10px 0">
                            <div class="p-3 w-100 px-4 text-white d-flex align-items-center" style="gap:10px 20px;background-color: #005071;border-radius: 20px 20px 20px 0;max-width: 200px;">
                                <img src="@/assets/img_assets/chat.png" class="h-100" :style="`${isMobile ? 'max-height:30px' : ''}`" />
                                <h2 class="mb-0 fw-bolder text-white h5">Chat</h2>
                            </div>
                            <div class="p-3 px-4 text-white d-flex align-items-center w-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px 20px 20px 0;max-width: 200px;">
                                <img src="@/assets/img_assets/hotel.png" class="h-100" :style="`${isMobile ? 'max-height:30px' : ''}`" />
                                <h2 class="mb-0 fw-bolder text-white h5">Hotel</h2>
                            </div>
                            <div class="p-3 px-4 text-white d-flex align-items-center w-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px 20px 20px 0;max-width: 200px;">
                                <img src="@/assets/img_assets/taxi.png" class="h-100" :style="`${isMobile ? 'max-height:30px' : ''}`" />
                                <h2 class="mb-0 fw-bolder text-white h5">Taxi</h2>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item"> 
                        <div class="d-flex flex-column align-items-center" style="gap:10px 0">
                            <div class="p-3 px-4 text-white d-flex align-items-center w-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px 20px 20px 0;max-width: 200px;">
                                <img src="@/assets/img_assets/walker.png" class="h-100" :style="`${isMobile ? 'max-height:30px' : ''}`" />
                                <h2 class="mb-0 fw-bolder text-white h5">Walkers</h2>
                            </div>
                            <div class="p-3 px-4 text-white d-flex align-items-center w-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px 20px 20px 0;max-width: 200px;">
                                <img src="@/assets/img_assets/shelter.png" class="h-100" :style="`${isMobile ? 'max-height:30px' : ''}`" />
                                <h2 class="mb-0 fw-bolder text-white h5">Shelter</h2>
                            </div>
                            <div class="p-3 w-100 px-4 text-white d-flex align-items-center" style="gap:10px 20px;background-color: #005071;border-radius: 20px 20px 20px 0;max-width: 200px;">
                                <img src="@/assets/img_assets/trainer.png" class="h-100" :style="`${isMobile ? 'max-height:30px' : ''}`" />
                                <h2 class="mb-0 fw-bolder text-white h5">Trainer</h2>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item"> 
                        <div class="d-flex flex-column align-items-center" style="gap:10px 0">
                            <div class="p-3 w-100 px-4 text-white d-flex align-items-center" style="gap:10px 20px;background-color: #005071;border-radius: 20px 20px 20px 0;max-width: 200px;">
                                <img src="@/assets/img_assets/groomer.png" class="h-100" :style="`${isMobile ? 'max-height:30px' : ''}`" />
                                <h2 class="mb-0 fw-bolder text-white h5">Groomer</h2>
                            </div>
                            <div class="p-3 px-4 text-white d-flex align-items-center w-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px 20px 20px 0;max-width: 200px;">
                                <img src="@/assets/img_assets/pet-shop.png" class="h-100" :style="`${isMobile ? 'max-height:30px' : ''}`" />
                                <h2 class="mb-0 fw-bolder text-white h5">Pet Shop</h2>
                            </div>
                            <div class="p-3 px-4 text-white d-flex align-items-center w-100" style="gap:10px 20px;background-color: #005071;border-radius: 20px 20px 20px 0;max-width: 200px;">
                                <img src="@/assets/img_assets/vet.png" class="h-100" :style="`${isMobile ? 'max-height:30px' : ''}`" />
                                <h2 class="mb-0 fw-bolder text-white h5">Vet</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>
</template>

<script>

export default {
    props: {
        isMobile: {
            type: Boolean,
            default: false
        }
    }
}

</script>