<template>
    <div>
        <p><strong>Privacy Policy for Mongrela</strong></p>

<p><strong>Last Updated: 22/01/2024</strong></p>

<p><strong>Thank you for using Mongrela! We are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy explains how we collect, use, and safeguard your information when you use our social media app.</strong></p>

<p><strong>1. Information We Collect<br />
1.1 Personal Information:</strong></p>

<p><strong>When you sign up for Mongrela, we may collect certain personal information, including but not limited to your name, email address, date of birth, and profile picture.<br />
1.2 User Content:</strong></p>

<p><strong>Mongrela allows you to create and share content, such as posts, photos, and videos. This content may be stored on our servers, and we may collect metadata associated with your content.<br />
1.3 Usage Information:</strong></p>

<p><strong>We collect information about your interactions with the app, such as the features you use, the content you view, and the frequency and duration of your activities.<br />
1.4 Device Information:</strong></p>

<p><strong>We may collect information about the devices you use to access Mongrela, including device type, operating system, and unique device identifiers.<br />
2. How We Use Your Information<br />
We use the collected information for the following purposes:</strong></p>

<p><strong>2.1 Providing Services:</strong></p>

<p><strong>To deliver and enhance the features and services offered by Mongrela.<br />
2.2 Personalization:</strong></p>

<p><strong>To personalize your experience, including showing you relevant content and advertisements.<br />
2.3 Communication:</strong></p>

<p><strong>To communicate with you about updates, promotions, and important notices related to Mongrela.<br />
2.4 Analytics:</strong></p>

<p><strong>To analyze user behavior and improve the functionality and performance of the app.<br />
3. Information Sharing<br />
We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as described in this Privacy Policy.</strong></p>

<p><strong>3.1 Third-Party Service Providers:</strong></p>

<p><strong>We may share your information with third-party service providers who assist us in operating and improving Mongrela.<br />
3.2 Legal Compliance:</strong></p>

<p><strong>We may disclose your information if required by law or in response to a legal request.<br />
4. Your Choices<br />
You have the following choices regarding your information:</strong></p>

<p><strong>4.1 Account Settings:</strong></p>

<p><strong>You can update your account settings and preferences at any time.<br />
4.2 Deactivation:</strong></p>

<p><strong>You can deactivate your account, and we will retain your information for a reasonable period as necessary for legal and operational purposes.<br />
5. Security<br />
We take reasonable measures to protect your information from unauthorized access and use.</strong></p>

<p><strong>6. Changes to this Privacy Policy<br />
We may update this Privacy Policy from time to time. The date of the latest revision will be indicated at the top of the page.</strong></p>

<p><strong>7. Contact Us<br />
If you have any questions or concerns about this Privacy Policy, please contact us at [Your Contact Email Address].</strong></p>

<p><strong>Thank you for using Mongrela!</strong></p>

    </div>
</template>
  
<script>
export default {
    name: 'PrivacyPolicy'
}
</script>
  